-- ==============================================================================
-- TECH AMBIANCE STUDIOHQ & CLIENT PORTAL ENTERPRISE SAAS AUTH SCHEMA (v3.0)
-- 10/10 True Membership Architecture (Linear / Vercel / GitHub Grade)
-- ==============================================================================

-- 1. Reusable Slugify Helper Function
CREATE OR REPLACE FUNCTION public.slugify(v TEXT)
RETURNS TEXT AS $$
BEGIN
  RETURN LOWER(REGEXP_REPLACE(TRIM(COALESCE(v, '')), '[^a-zA-Z0-9]+', '-', 'g'));
END;
$$ LANGUAGE plpgsql IMMUTABLE;

-- 2. Organizations Table
CREATE TABLE IF NOT EXISTS public.organizations (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  slug TEXT UNIQUE NOT NULL,
  logo_url TEXT NULL,
  brand_color TEXT NOT NULL DEFAULT '#0B3027',
  timezone TEXT NOT NULL DEFAULT 'UTC',
  country TEXT NULL,
  currency TEXT NOT NULL DEFAULT 'USD',
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 3. Workspaces Table
CREATE TABLE IF NOT EXISTS public.workspaces (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID NOT NULL REFERENCES public.organizations(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  slug TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'ACTIVE', -- 'ACTIVE', 'ARCHIVED', 'SUSPENDED'
  is_default BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (organization_id, slug)
);

-- 4. Profiles Table (Global User Profile tied to auth.users)
CREATE TABLE IF NOT EXISTS public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  email TEXT NOT NULL UNIQUE,
  full_name TEXT NOT NULL DEFAULT '',
  avatar_url TEXT NULL,
  active_organization_id UUID NULL REFERENCES public.organizations(id) ON DELETE SET NULL,
  active_workspace_id UUID NULL REFERENCES public.workspaces(id) ON DELETE SET NULL,
  is_active BOOLEAN NOT NULL DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 5. Organization Members Table (Explicit Multi-Tenant Junction)
CREATE TABLE IF NOT EXISTS public.organization_members (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID NOT NULL REFERENCES public.organizations(id) ON DELETE CASCADE,
  user_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  is_default BOOLEAN NOT NULL DEFAULT false,
  joined_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (organization_id, user_id)
);

-- 6. Workspace Members Table
CREATE TABLE IF NOT EXISTS public.workspace_members (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  workspace_id UUID NOT NULL REFERENCES public.workspaces(id) ON DELETE CASCADE,
  user_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  joined_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE (workspace_id, user_id)
);

-- 7. Roles Table (Normalized RBAC Taxonomy)
CREATE TABLE IF NOT EXISTS public.roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL UNIQUE,
  description TEXT NULL
);


-- 8. User Roles Junction Table (Audit-Ready Multi-Role Assignment)
CREATE TABLE IF NOT EXISTS public.user_roles (
  user_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  role_id UUID NOT NULL REFERENCES public.roles(id) ON DELETE CASCADE,
  assigned_by UUID NULL REFERENCES public.profiles(id) ON DELETE SET NULL,
  assigned_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  PRIMARY KEY (user_id, role_id)
);

-- 9. Future-Ready Invitations Table
CREATE TABLE IF NOT EXISTS public.invitations (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID NOT NULL REFERENCES public.organizations(id) ON DELETE CASCADE,
  email TEXT NOT NULL,
  role_id UUID NOT NULL REFERENCES public.roles(id) ON DELETE CASCADE,
  token TEXT NOT NULL UNIQUE,
  expires_at TIMESTAMPTZ NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 10. Atomic Dual-Path Provisioning Function (Normal vs. Invited Signup)
CREATE OR REPLACE FUNCTION public.handle_new_user_provisioning()
RETURNS TRIGGER AS $$
DECLARE
  v_org_id UUID;
  v_workspace_id UUID;
  v_role_id UUID;
  v_invite_record RECORD;
  v_org_name TEXT;
  v_org_slug TEXT;
  v_workspace_slug TEXT;
BEGIN
  -- Create global Profile record
  INSERT INTO public.profiles (id, email, full_name, avatar_url)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'full_name', ''),
    NEW.raw_user_meta_data->>'avatar_url'
  );

  -- Check if user signed up via an active invitation (Flow B: Invitation Signup)
  SELECT * INTO v_invite_record
  FROM public.invitations
  WHERE email = NEW.email AND expires_at > NOW()
  ORDER BY created_at DESC
  LIMIT 1;

  IF v_invite_record.id IS NOT NULL THEN
    -- Join Existing Organization
    INSERT INTO public.organization_members (organization_id, user_id, is_default)
    VALUES (v_invite_record.organization_id, NEW.id, true)
    ON CONFLICT (organization_id, user_id) DO NOTHING;

    -- Assign invited Role
    INSERT INTO public.user_roles (user_id, role_id)
    VALUES (NEW.id, v_invite_record.role_id)
    ON CONFLICT (user_id, role_id) DO NOTHING;

    -- Update active organization on Profile
    UPDATE public.profiles
    SET active_organization_id = v_invite_record.organization_id
    WHERE id = NEW.id;

    -- Delete consumed invitation
    DELETE FROM public.invitations WHERE id = v_invite_record.id;
  ELSE
    -- Flow A: Normal Signup (Create Organization & Default Workspace)
    v_org_name := COALESCE(
      NEW.raw_user_meta_data->>'organization_name',
      CASE WHEN COALESCE(NEW.raw_user_meta_data->>'full_name', '') <> ''
           THEN NEW.raw_user_meta_data->>'full_name' || ' Studio'
           ELSE 'Tech Ambiance Studio'
      END
    );
    v_org_slug := public.slugify(v_org_name) || '-' || SUBSTRING(NEW.id::TEXT, 1, 8);
    v_workspace_slug := public.slugify(v_org_name) || '-workspace';

    -- Create Organization
    INSERT INTO public.organizations (name, slug)
    VALUES (v_org_name, v_org_slug)
    RETURNING id INTO v_org_id;

    -- Create Default Workspace
    INSERT INTO public.workspaces (organization_id, name, slug, is_default, status)
    VALUES (v_org_id, 'Primary Workspace', v_workspace_slug, true, 'ACTIVE')
    RETURNING id INTO v_workspace_id;

    -- Create Organization Membership
    INSERT INTO public.organization_members (organization_id, user_id, is_default)
    VALUES (v_org_id, NEW.id, true);

    -- Create Workspace Membership
    INSERT INTO public.workspace_members (workspace_id, user_id)
    VALUES (v_workspace_id, NEW.id);

    -- Update active pointers on Profile
    UPDATE public.profiles
    SET active_organization_id = v_org_id, active_workspace_id = v_workspace_id
    WHERE id = NEW.id;

    -- Assign OWNER role
    SELECT id INTO v_role_id FROM public.roles WHERE name = 'OWNER';
    IF v_role_id IS NOT NULL THEN
      INSERT INTO public.user_roles (user_id, role_id)
      VALUES (NEW.id, v_role_id);
    END IF;
  END IF;

  RETURN NEW;
EXCEPTION WHEN OTHERS THEN
  RAISE EXCEPTION 'Failed to provision user: %', SQLERRM;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Bind Trigger to auth.users
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user_provisioning();

-- 11. Row Level Security (RLS) Configuration
ALTER TABLE public.organizations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.workspaces ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.organization_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.workspace_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

-- Profiles: Users can select and update only their own profile
CREATE POLICY "Users can SELECT own profile"
  ON public.profiles FOR SELECT
  USING (auth.uid() = id);

CREATE POLICY "Users can UPDATE own profile"
  ON public.profiles FOR UPDATE
  USING (auth.uid() = id);

-- Organization Members: Users can see organizations they belong to
CREATE POLICY "Users can SELECT member organizations"
  ON public.organizations FOR SELECT
  USING (
    id IN (SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid())
  );

-- Workspace Members: Users can see workspaces they belong to
CREATE POLICY "Users can SELECT member workspaces"
  ON public.workspaces FOR SELECT
  USING (
    id IN (SELECT workspace_id FROM public.workspace_members WHERE user_id = auth.uid())
  );
-- ==============================================================================
-- TECH AMBIANCE AGENCY OPERATING SYSTEM: DOMAIN SCHEMA (v1.0)
-- Bounded Contexts: CRM, Delivery, Finance, Communication, Assets, Audit
-- ==============================================================================

-- ==============================================================================
-- 1. BOUNDED CONTEXT: CRM (`backend/app/crm/`)
-- ==============================================================================

-- Lead Consultations Table
CREATE TABLE IF NOT EXISTS public.lead_consultations (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  business_name TEXT NOT NULL,
  industry TEXT NOT NULL,
  website TEXT NULL,
  instagram TEXT NULL,
  city TEXT NULL,
  heard_source TEXT NULL,
  goals TEXT[] NOT NULL DEFAULT '{}',
  budget_range TEXT NOT NULL,
  timeline TEXT NOT NULL,
  contact_name TEXT NOT NULL,
  contact_phone TEXT NOT NULL,
  contact_email TEXT NOT NULL,
  preferred_contact TEXT NOT NULL DEFAULT 'WhatsApp',
  message TEXT NULL,
  status TEXT NOT NULL DEFAULT 'PENDING_REVIEW', -- 'PENDING_REVIEW', 'QUALIFIED', 'PROPOSAL_SENT', 'WON', 'REJECTED'
  reviewed_by UUID NULL REFERENCES public.profiles(id) ON DELETE SET NULL,
  reviewed_at TIMESTAMPTZ NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Commercial Deals Table
CREATE TABLE IF NOT EXISTS public.deals (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  lead_id UUID NOT NULL REFERENCES public.lead_consultations(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  stage TEXT NOT NULL DEFAULT 'DISCOVERY', -- 'DISCOVERY', 'PROPOSAL', 'NEGOTIATION', 'WON', 'LOST'
  estimated_value NUMERIC(12, 2) NOT NULL DEFAULT 0.00,
  currency TEXT NOT NULL DEFAULT 'USD',
  assigned_to UUID NULL REFERENCES public.profiles(id) ON DELETE SET NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Master Services Proposals Table
CREATE TABLE IF NOT EXISTS public.proposals (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  deal_id UUID NOT NULL REFERENCES public.deals(id) ON DELETE CASCADE,
  proposal_number TEXT UNIQUE NOT NULL,
  scope_summary TEXT NOT NULL,
  total_amount NUMERIC(12, 2) NOT NULL,
  advance_deposit_amount NUMERIC(12, 2) NOT NULL,
  currency TEXT NOT NULL DEFAULT 'USD',
  status TEXT NOT NULL DEFAULT 'SENT', -- 'DRAFT', 'SENT', 'ACCEPTED', 'EXPIRED', 'DECLINED'
  expires_at TIMESTAMPTZ NOT NULL,
  accepted_at TIMESTAMPTZ NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ==============================================================================
-- 2. BOUNDED CONTEXT: FINANCE (`backend/app/finance/`)
-- (Finance acts as Gatekeeper for client activation)
-- ==============================================================================

CREATE TABLE IF NOT EXISTS public.invoices (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  proposal_id UUID NULL REFERENCES public.proposals(id) ON DELETE SET NULL,
  organization_id UUID NULL REFERENCES public.organizations(id) ON DELETE SET NULL,
  workspace_id UUID NULL REFERENCES public.workspaces(id) ON DELETE SET NULL,
  invoice_number TEXT UNIQUE NOT NULL,
  title TEXT NOT NULL,
  amount NUMERIC(12, 2) NOT NULL,
  currency TEXT NOT NULL DEFAULT 'USD',
  status TEXT NOT NULL DEFAULT 'PENDING', -- 'PENDING', 'PAID', 'OVERDUE', 'CANCELLED'
  due_date DATE NOT NULL,
  paid_at TIMESTAMPTZ NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.contracts (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID NOT NULL REFERENCES public.organizations(id) ON DELETE CASCADE,
  contract_number TEXT UNIQUE NOT NULL,
  title TEXT NOT NULL DEFAULT 'Master Services Agreement (MSA)',
  file_url TEXT NULL,
  signed_at TIMESTAMPTZ NULL,
  status TEXT NOT NULL DEFAULT 'SIGNED', -- 'PENDING', 'SIGNED', 'TERMINATED'
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ==============================================================================
-- 3. BOUNDED CONTEXT: DELIVERY (`backend/app/delivery/`)
-- ==============================================================================

-- Project Templates Table
CREATE TABLE IF NOT EXISTS public.project_templates (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT UNIQUE NOT NULL,
  description TEXT NOT NULL,
  default_lifecycle_stages TEXT[] NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Projects Table (Strict State Machine enforced)
CREATE TABLE IF NOT EXISTS public.projects (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  workspace_id UUID NOT NULL REFERENCES public.workspaces(id) ON DELETE CASCADE,
  template_id UUID NULL REFERENCES public.project_templates(id) ON DELETE SET NULL,
  name TEXT NOT NULL,
  slug TEXT NOT NULL,
  lifecycle_stage TEXT NOT NULL DEFAULT 'DISCOVERY', -- 'DISCOVERY', 'PLANNING', 'DESIGN', 'DEVELOPMENT', 'QA', 'STAGING', 'PRODUCTION', 'MAINTENANCE', 'ARCHIVED'
  status TEXT NOT NULL DEFAULT 'Active Execution',
  active_sprint TEXT NULL,
  budget_formatted TEXT NULL,
  target_delivery_date DATE NULL,
  source_code_url TEXT NULL,
  staging_environment_url TEXT NULL,
  production_environment_url TEXT NULL,
  health_budget TEXT NOT NULL DEFAULT 'Healthy',
  health_timeline TEXT NOT NULL DEFAULT 'On Track',
  health_scope TEXT NOT NULL DEFAULT 'Locked',
  health_client_response TEXT NOT NULL DEFAULT 'Excellent',
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Milestones Table
CREATE TABLE IF NOT EXISTS public.milestones (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  project_id UUID NOT NULL REFERENCES public.projects(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  description TEXT NULL,
  target_date DATE NOT NULL,
  status TEXT NOT NULL DEFAULT 'pending', -- 'completed', 'active', 'pending'
  display_order INTEGER NOT NULL DEFAULT 1,
  completed_at TIMESTAMPTZ NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Private Internal Notes Table (Strictly Admin only)
CREATE TABLE IF NOT EXISTS public.project_internal_notes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  project_id UUID NOT NULL REFERENCES public.projects(id) ON DELETE CASCADE,
  author_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  note_content TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ==============================================================================
-- 4. BOUNDED CONTEXT: ASSETS (`backend/app/assets/`)
-- ==============================================================================

-- Deliverable Files linked directly to Milestones with Versioning
CREATE TABLE IF NOT EXISTS public.deliverable_files (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  project_id UUID NOT NULL REFERENCES public.projects(id) ON DELETE CASCADE,
  milestone_id UUID NULL REFERENCES public.milestones(id) ON DELETE SET NULL,
  file_name TEXT NOT NULL,
  version_tag TEXT NOT NULL DEFAULT 'v1', -- 'v1', 'v2', 'Final'
  category TEXT NOT NULL DEFAULT 'Deliverables', -- 'Brand Assets', 'Contracts', 'Deliverables', 'Reports', 'Credentials'
  file_size TEXT NOT NULL,
  file_type TEXT NOT NULL,
  storage_path TEXT NOT NULL,
  uploaded_by UUID NULL REFERENCES public.profiles(id) ON DELETE SET NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ==============================================================================
-- 5. BOUNDED CONTEXT: COMMUNICATION (`backend/app/communication/`)
-- ==============================================================================

-- Dual-Visibility Project Activity Feed (Client vs. Internal)
CREATE TABLE IF NOT EXISTS public.timeline_events (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  project_id UUID NOT NULL REFERENCES public.projects(id) ON DELETE CASCADE,
  event_title TEXT NOT NULL,
  description TEXT NOT NULL,
  category TEXT NOT NULL DEFAULT 'Milestone', -- 'Deployment', 'Milestone', 'Finance', 'Design', 'Internal'
  visibility TEXT NOT NULL DEFAULT 'CLIENT', -- 'CLIENT', 'INTERNAL'
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Organization-Level Executive Partnership Roadmap
CREATE TABLE IF NOT EXISTS public.client_journey_events (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  organization_id UUID NOT NULL REFERENCES public.organizations(id) ON DELETE CASCADE,
  event_date TEXT NOT NULL,
  title TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'completed', -- 'completed', 'active', 'pending'
  display_order INTEGER NOT NULL DEFAULT 1,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ==============================================================================
-- 6. BOUNDED CONTEXT: AUDIT (`backend/app/audit/`)
-- ==============================================================================

-- Immutable Admin Audit Logs
CREATE TABLE IF NOT EXISTS public.admin_audit_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  actor_user_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  action_type TEXT NOT NULL, -- e.g. 'STATUS_TRANSITION', 'INVOICE_ISSUED', 'ROLE_GRANTED'
  target_entity_type TEXT NOT NULL, -- e.g. 'Project', 'Invoice', 'UserRole'
  target_entity_id UUID NOT NULL,
  old_state JSONB NULL,
  new_state JSONB NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- ==============================================================================
-- 7. ROW LEVEL SECURITY POLICIES FOR ALL DOMAIN TABLES
-- ==============================================================================

ALTER TABLE public.lead_consultations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.deals ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.proposals ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.invoices ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.contracts ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.project_templates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.projects ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.milestones ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.project_internal_notes ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.deliverable_files ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.timeline_events ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.client_journey_events ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.admin_audit_logs ENABLE ROW LEVEL SECURITY;

-- CLIENT ACCESS POLICIES (Read-Only Projection for authorized Workspaces & Organizations)
CREATE POLICY "Clients can SELECT projects in their workspaces"
  ON public.projects FOR SELECT
  USING (
    workspace_id IN (SELECT workspace_id FROM public.workspace_members WHERE user_id = auth.uid())
  );

CREATE POLICY "Clients can SELECT milestones in their projects"
  ON public.milestones FOR SELECT
  USING (
    project_id IN (
      SELECT id FROM public.projects WHERE workspace_id IN (
        SELECT workspace_id FROM public.workspace_members WHERE user_id = auth.uid()
      )
    )
  );

CREATE POLICY "Clients can SELECT deliverable files in their projects"
  ON public.deliverable_files FOR SELECT
  USING (
    project_id IN (
      SELECT id FROM public.projects WHERE workspace_id IN (
        SELECT workspace_id FROM public.workspace_members WHERE user_id = auth.uid()
      )
    )
  );

CREATE POLICY "Clients can SELECT CLIENT timeline events in their projects"
  ON public.timeline_events FOR SELECT
  USING (
    visibility = 'CLIENT' AND
    project_id IN (
      SELECT id FROM public.projects WHERE workspace_id IN (
        SELECT workspace_id FROM public.workspace_members WHERE user_id = auth.uid()
      )
    )
  );

CREATE POLICY "Clients can SELECT invoices in their organizations"
  ON public.invoices FOR SELECT
  USING (
    organization_id IN (
      SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid()
    )
  );

CREATE POLICY "Clients can SELECT journey events in their organizations"
  ON public.client_journey_events FOR SELECT
  USING (
    organization_id IN (
      SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid()
    )
  );
-- ==============================================================================
-- MIGRATION: 0003_crm_pipeline_refactor.sql
-- PURPOSE: Enterprise CRM Refactor - Agency Operating System
-- ==============================================================================

BEGIN;

-- 1. Create CRM Pipeline Stages Configuration Table
CREATE TABLE IF NOT EXISTS public.crm_pipeline_stages (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  color TEXT NOT NULL,
  sort_order INTEGER NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Insert Default Stages

-- 2. Alter Existing lead_consultations Table
-- Assuming it exists from 0002_agency_os_domains.sql
ALTER TABLE public.lead_consultations
  ADD COLUMN IF NOT EXISTS lead_number TEXT UNIQUE,
  ADD COLUMN IF NOT EXISTS assigned_to UUID REFERENCES public.profiles(id) ON DELETE SET NULL,
  ADD COLUMN IF NOT EXISTS lead_source TEXT,
  ADD COLUMN IF NOT EXISTS consultation_snapshot JSONB,
  ADD COLUMN IF NOT EXISTS archived_at TIMESTAMPTZ,
  ADD COLUMN IF NOT EXISTS archived_by UUID REFERENCES public.profiles(id) ON DELETE SET NULL,
  ADD COLUMN IF NOT EXISTS version INTEGER NOT NULL DEFAULT 1;

-- Alter default status to 'NEW' instead of 'PENDING_REVIEW'
ALTER TABLE public.lead_consultations ALTER COLUMN status SET DEFAULT 'NEW';

-- 3. Sequence for Lead Numbers
CREATE SEQUENCE IF NOT EXISTS lead_number_seq START 1;

-- Trigger Function to generate LEAD-YYYY-XXXXXX and handle optimistic concurrency
CREATE OR REPLACE FUNCTION generate_lead_number_and_version()
RETURNS TRIGGER AS $$
BEGIN
  -- Generate Lead Number on Insert
  IF TG_OP = 'INSERT' THEN
    NEW.lead_number := 'LEAD-' || to_char(NOW(), 'YYYY') || '-' || lpad(nextval('lead_number_seq')::text, 6, '0');
    NEW.version := 1;
    NEW.status := COALESCE(NEW.status, 'NEW');
  END IF;

  -- Enforce Optimistic Concurrency on Update
  IF TG_OP = 'UPDATE' THEN
    IF NEW.version != OLD.version THEN
      RAISE EXCEPTION 'Optimistic concurrency failure: Version mismatch. Expected %, but got %', OLD.version, NEW.version;
    END IF;
    NEW.version := OLD.version + 1;
    NEW.updated_at := NOW();
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS lead_consultations_trigger ON public.lead_consultations;
CREATE TRIGGER lead_consultations_trigger
  BEFORE INSERT OR UPDATE ON public.lead_consultations
  FOR EACH ROW
  EXECUTE FUNCTION generate_lead_number_and_version();

-- 4. Audit Timeline & Analytics Tables
CREATE TABLE IF NOT EXISTS public.lead_events (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  lead_id UUID NOT NULL REFERENCES public.lead_consultations(id) ON DELETE CASCADE,
  event_type TEXT NOT NULL,
  payload JSONB NOT NULL DEFAULT '{}',
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.crm_stage_history (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  lead_id UUID NOT NULL REFERENCES public.lead_consultations(id) ON DELETE CASCADE,
  from_stage_id TEXT NULL REFERENCES public.crm_pipeline_stages(id) ON DELETE SET NULL,
  to_stage_id TEXT NOT NULL REFERENCES public.crm_pipeline_stages(id) ON DELETE RESTRICT,
  changed_by UUID NULL REFERENCES public.profiles(id) ON DELETE SET NULL,
  changed_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  duration_seconds BIGINT NULL
);

-- Trigger Function for Stage History & Timeline Event Logging
CREATE OR REPLACE FUNCTION log_lead_events_and_history()
RETURNS TRIGGER AS $$
DECLARE
  prev_stage_time TIMESTAMPTZ;
  duration_sec BIGINT;
BEGIN
  IF TG_OP = 'INSERT' THEN
    -- Insert LeadCreated Event
    INSERT INTO public.lead_events (lead_id, event_type, payload)
    VALUES (NEW.id, 'LeadCreated', jsonb_build_object('status', NEW.status, 'lead_source', NEW.lead_source));
    
    -- Insert Initial Stage History
    INSERT INTO public.crm_stage_history (lead_id, from_stage_id, to_stage_id)
    VALUES (NEW.id, NULL, NEW.status);
    
  ELSIF TG_OP = 'UPDATE' THEN
    IF NEW.status IS DISTINCT FROM OLD.status THEN
      -- Insert StageChanged Event
      INSERT INTO public.lead_events (lead_id, event_type, payload)
      VALUES (NEW.id, 'StageChanged', jsonb_build_object('old_status', OLD.status, 'new_status', NEW.status));
      
      -- Calculate Duration in previous stage
      SELECT changed_at INTO prev_stage_time 
      FROM public.crm_stage_history 
      WHERE lead_id = NEW.id 
      ORDER BY changed_at DESC LIMIT 1;
      
      IF prev_stage_time IS NOT NULL THEN
        duration_sec := EXTRACT(EPOCH FROM (NOW() - prev_stage_time));
      END IF;

      -- Insert new Stage History
      INSERT INTO public.crm_stage_history (lead_id, from_stage_id, to_stage_id, duration_seconds)
      VALUES (NEW.id, OLD.status, NEW.status, duration_sec);
    END IF;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS lead_events_trigger ON public.lead_consultations;
CREATE TRIGGER lead_events_trigger
  AFTER INSERT OR UPDATE ON public.lead_consultations
  FOR EACH ROW
  EXECUTE FUNCTION log_lead_events_and_history();

-- 5. RPC function for idempotent lead creation (SECURITY DEFINER)
CREATE OR REPLACE FUNCTION create_consultation_lead(
  payload JSONB,
  idempotency_key TEXT
)
RETURNS JSONB
SECURITY DEFINER
AS $$
DECLARE
  inserted_lead JSONB;
BEGIN
  -- Idempotency Check
  -- For simplicity, check if a lead with this exact email was created within the last 5 minutes.
  IF EXISTS (
    SELECT 1 FROM public.lead_consultations 
    WHERE contact_email = payload->>'contact_email' 
    AND created_at > (NOW() - INTERVAL '5 minutes')
  ) THEN
    -- Return error or simply return the existing lead (idempotent response)
    RAISE EXCEPTION 'Idempotency failure: Duplicate submission detected for this email within 5 minutes.';
  END IF;

  INSERT INTO public.lead_consultations (
    business_name, industry, website, instagram, city, heard_source,
    goals, budget_range, timeline, contact_name, contact_phone, contact_email,
    preferred_contact, message, lead_source, consultation_snapshot
  ) VALUES (
    payload->>'business_name',
    payload->>'industry',
    payload->>'website',
    payload->>'instagram',
    payload->>'city',
    payload->>'heard_source',
    ARRAY(SELECT jsonb_array_elements_text(payload->'goals')),
    payload->>'budget_range',
    payload->>'timeline',
    payload->>'contact_name',
    payload->>'contact_phone',
    payload->>'contact_email',
    payload->>'preferred_contact',
    payload->>'message',
    COALESCE(payload->>'lead_source', 'Website'),
    payload
  )
  RETURNING to_jsonb(lead_consultations.*) INTO inserted_lead;

  RETURN inserted_lead;
END;
$$ LANGUAGE plpgsql;

-- Enable RLS and setup policies
ALTER TABLE public.crm_pipeline_stages ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.lead_events ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.crm_stage_history ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.lead_consultations ENABLE ROW LEVEL SECURITY;

-- Admins can view/edit everything
CREATE POLICY "Admin view all stages" ON public.crm_pipeline_stages FOR SELECT USING (true);
CREATE POLICY "Admin view all leads" ON public.lead_consultations FOR ALL USING (true);
CREATE POLICY "Admin view all lead_events" ON public.lead_events FOR ALL USING (true);
CREATE POLICY "Admin view all stage history" ON public.crm_stage_history FOR ALL USING (true);

-- Revoke direct table inserts from public/anon
REVOKE INSERT ON public.lead_consultations FROM anon;
REVOKE INSERT ON public.lead_consultations FROM authenticated;
GRANT EXECUTE ON FUNCTION create_consultation_lead(JSONB, TEXT) TO anon;
GRANT EXECUTE ON FUNCTION create_consultation_lead(JSONB, TEXT) TO authenticated;

COMMIT;
-- ==============================================================================
-- TECH AMBIANCE AGENCY OPERATING SYSTEM: ADMIN AUTHENTICATION
-- ==============================================================================

-- 1. Admin Users Table
CREATE TABLE IF NOT EXISTS public.admin_users (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NULL REFERENCES auth.users(id) ON DELETE SET NULL,
  email TEXT UNIQUE NOT NULL,
  role TEXT NOT NULL DEFAULT 'ADMIN',
  is_active BOOLEAN NOT NULL DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- Seed Initial Admins
INSERT INTO public.admin_users (email, role) VALUES
  ('jaswanthreddyam@gmail.com', 'OWNER'),
  ('jeshu0069@gmail.com', 'OWNER')
ON CONFLICT (email) DO NOTHING;

-- 2. Admin Sessions Metadata
CREATE TABLE IF NOT EXISTS public.admin_sessions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  admin_id UUID NOT NULL REFERENCES public.admin_users(id) ON DELETE CASCADE,
  session_id UUID NOT NULL, -- references auth.sessions but we keep it loose for resilience
  browser TEXT NULL,
  os TEXT NULL,
  ip_address TEXT NULL,
  country TEXT NULL,
  is_trusted BOOLEAN NOT NULL DEFAULT false,
  login_time TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  last_seen TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 3. Rate Limiting for OTP
CREATE TABLE IF NOT EXISTS public.auth_rate_limits (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  email TEXT NOT NULL,
  ip_address TEXT NULL,
  attempt_type TEXT NOT NULL, -- 'OTP_REQUEST' or 'OTP_VERIFY_FAIL'
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- RPC for Rate Limiting Check (Security Definer)
CREATE OR REPLACE FUNCTION check_auth_rate_limit(p_email TEXT, p_ip TEXT, p_type TEXT)
RETURNS BOOLEAN
SECURITY DEFINER
AS $$
DECLARE
  recent_count INTEGER;
BEGIN
  IF p_type = 'OTP_REQUEST' THEN
    -- Max 5 requests per 15 minutes
    SELECT COUNT(*) INTO recent_count
    FROM public.auth_rate_limits
    WHERE email = p_email AND attempt_type = 'OTP_REQUEST'
      AND created_at > (NOW() - INTERVAL '15 minutes');
      
    IF recent_count >= 5 THEN
      RETURN FALSE;
    END IF;
  ELSIF p_type = 'OTP_VERIFY_FAIL' THEN
    -- Max 10 fails per 15 minutes
    SELECT COUNT(*) INTO recent_count
    FROM public.auth_rate_limits
    WHERE email = p_email AND attempt_type = 'OTP_VERIFY_FAIL'
      AND created_at > (NOW() - INTERVAL '15 minutes');
      
    IF recent_count >= 10 THEN
      RETURN FALSE;
    END IF;
  END IF;

  RETURN TRUE;
END;
$$ LANGUAGE plpgsql;

-- RPC to record a rate limit event
CREATE OR REPLACE FUNCTION record_auth_rate_limit(p_email TEXT, p_ip TEXT, p_type TEXT)
RETURNS VOID
SECURITY DEFINER
AS $$
BEGIN
  INSERT INTO public.auth_rate_limits (email, ip_address, attempt_type)
  VALUES (p_email, p_ip, p_type);
END;
$$ LANGUAGE plpgsql;

-- 4. RPC: Verify Admin Authorization Post-OTP
CREATE OR REPLACE FUNCTION verify_admin_authorization(p_email TEXT)
RETURNS BOOLEAN
SECURITY DEFINER
AS $$
DECLARE
  v_admin_id UUID;
  v_user_id UUID;
BEGIN
  -- We assume auth.uid() is now set because Supabase verified the OTP
  v_user_id := auth.uid();
  
  IF v_user_id IS NULL THEN
    RETURN FALSE;
  END IF;

  -- Check if email exists in admin_users and is active
  SELECT id INTO v_admin_id
  FROM public.admin_users
  WHERE email = p_email AND is_active = true;

  IF v_admin_id IS NULL THEN
    RETURN FALSE;
  END IF;

  -- Link user_id if it's the first time
  UPDATE public.admin_users
  SET user_id = v_user_id
  WHERE id = v_admin_id AND user_id IS NULL;

  RETURN TRUE;
END;
$$ LANGUAGE plpgsql;

-- 5. RPC: Register Session Metadata
CREATE OR REPLACE FUNCTION register_admin_session(
  p_email TEXT,
  p_session_id UUID,
  p_browser TEXT,
  p_os TEXT,
  p_ip TEXT,
  p_country TEXT,
  p_is_trusted BOOLEAN
)
RETURNS VOID
SECURITY DEFINER
AS $$
DECLARE
  v_admin_id UUID;
BEGIN
  SELECT id INTO v_admin_id
  FROM public.admin_users
  WHERE email = p_email;

  IF v_admin_id IS NOT NULL THEN
    INSERT INTO public.admin_sessions (admin_id, session_id, browser, os, ip_address, country, is_trusted)
    VALUES (v_admin_id, p_session_id, p_browser, p_os, p_ip, p_country, p_is_trusted);
  END IF;
END;
$$ LANGUAGE plpgsql;

-- 6. RPC: Log Admin Audit Event
CREATE OR REPLACE FUNCTION log_admin_auth_event(
  p_email TEXT,
  p_action TEXT, -- 'AdminSignedIn', 'AdminSignedOut', 'OtpRequested', 'OtpVerified', 'UnauthorizedAttempt'
  p_details JSONB DEFAULT '{}'
)
RETURNS VOID
SECURITY DEFINER
AS $$
DECLARE
  v_user_id UUID;
BEGIN
  v_user_id := auth.uid();

  INSERT INTO public.admin_audit_logs (actor_user_id, action_type, target_entity_type, target_entity_id, new_state)
  VALUES (
    COALESCE(v_user_id, '00000000-0000-0000-0000-000000000000'::UUID), -- Default if no auth
    p_action,
    'Auth',
    COALESCE(v_user_id, '00000000-0000-0000-0000-000000000000'::UUID),
    p_details || jsonb_build_object('email', p_email)
  );
END;
$$ LANGUAGE plpgsql;

-- RLS
ALTER TABLE public.admin_users ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.admin_sessions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.auth_rate_limits ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Admins can view their own record" ON public.admin_users FOR SELECT USING (user_id = auth.uid());
CREATE POLICY "Admins can view their sessions" ON public.admin_sessions FOR SELECT USING (
  admin_id IN (SELECT id FROM public.admin_users WHERE user_id = auth.uid())
);

-- Public functions grants
GRANT EXECUTE ON FUNCTION check_auth_rate_limit(TEXT, TEXT, TEXT) TO anon, authenticated;
GRANT EXECUTE ON FUNCTION record_auth_rate_limit(TEXT, TEXT, TEXT) TO anon, authenticated;
GRANT EXECUTE ON FUNCTION verify_admin_authorization(TEXT) TO authenticated;
GRANT EXECUTE ON FUNCTION register_admin_session(TEXT, UUID, TEXT, TEXT, TEXT, TEXT, BOOLEAN) TO authenticated;
GRANT EXECUTE ON FUNCTION log_admin_auth_event(TEXT, TEXT, JSONB) TO anon, authenticated;
